 
    @import url('https://fonts.googleapis.com/css?family=Raleway');


    html, body {
      height: 100%;
    }

    body{
      background-image: url('assets/bg.jpg');
      height: 100%;
      font-family: 'Raleway', sans-serif;
      background-size: 110%;
      background-repeat: no-repeat;
      background-color: black;

    }

    .button{
      border-radius: 30px;
    padding: 10px;
    width: 140px;
    color: white;
    font-size: 16px;
        background-color: #cb444d;
    border: 4px solid #ffffff;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    display: inline-block;
    text-align: center;

    }

    .button:hover{
      border-radius: 30px;
    padding: 10px;
    width: 140px;
    color: white;
    font-size: 16px;
    background-color: rgba(4, 4, 4, 0.5);
    border: 4px solid #ffffff;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    }
    
   p {
      color: #474747;
      margin-top: 10px;
      padding-top: 23px;
      min-height: 120px;
  }

    .form-control{
          border-radius: 20px;
    background-color: #e4e4e4;
    }


   footer {
    width: 100%;
    position: relative;
    height: 50px;
    border-top: 4px solid #ff9e0d;
    background-color: green;
    color: white;
    padding: 10px;
}
   .logo{
    padding-top: 150px;
   }
   .featured{
    padding-top: 20px;
   }
   .box-colored {
      background-color: rgba(255, 255, 255, 0.5);
      padding-top: 10px;
      border-radius: 20px;
      font-size: 18px;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: -90px;
      padding-top: 70px;
      padding-bottom: 10px;
      margin-bottom: 50px;
   }
   .box-colored-1{
        background-color: rgba(4, 4, 4, 0.5);
      border: 4px solid #ccc;
      margin-top: -90px;
      padding-top: 10px;
      border-radius: 20px;
      font-size: 18px;
      padding-left: 10px;
      padding-right: 10px;
      color:white;
      margin-top:20px;
   }

   .box-colored-1 span{
     font-size:22px;
     color:#ffd200;
   }

   .box-colored-1 a{
     color:white;
     font-size:12px;
   }



   .sidebarmenu{
       position: absolute;
    left: -260px;
    width: 260px;
    height: 100%;
    background-color: green;
    z-index: 8;
    padding-top: 80px;
    top: 0;
  }

  .sidebarmenu ul{
        width: 80%;
    line-height: 20px;
    padding-left: 26px;
    color: white;
  }

  .sidebarmenu li {
      border-bottom: 1px solid orange;
      display: inline-block;
      width: 100%;
      color: white;
      line-height: 30px;
  }

  .sidebarmenu li a{
    color:white;
  }


/* NAV 1 */
 #nav-toggle {
        position: absolute;
    left: 50px;
    top: 40px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 9;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 2px;
    width: 35px;
    background: white;
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    content:'';
}
#nav-toggle span:before {
    top: -10px;
}
#nav-toggle span:after {
    top: 10px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    transition: all 0.5s ease-in-out;
}
#nav-toggle.active span {
    background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}
#nav-toggle.active span:before {
    transform: rotate(135deg);
}
#nav-toggle.active span:after {
    transform: rotate(-135deg);
}
/* NAV 2 */
 .cd-primary-nav-trigger {
    position: absolute;
    right: 50%;
    top: 50%;
    height: 50px;
    width: 50px;
    background-color: #03263d;
}
.cd-primary-nav-trigger .cd-menu-icon {
    /* this span is the central line of the menu icon */
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 35px;
    height: 2px;
    background-color: white;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* these are the upper and lower lines in the menu icon */
}
.cd-primary-nav-trigger .cd-menu-icon::before, .cd-primary-nav-trigger .cd-menu-icon:after {
    content:'';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    right: 0;
    -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
    -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
    transition: transform .3s, top .3s, background-color 0s;
}
.cd-primary-nav-trigger .cd-menu-icon::before {
    top: -10px;
}
.cd-primary-nav-trigger .cd-menu-icon::after {
    top: 10px;
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked {
    background-color: rgba(255, 255, 255, 0);
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before, .cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
    background-color: white;
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
    top: 0;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}
.participe img{
  margin:0 auto;
}
#nav-toggle tag{
  color: white;
    position: absolute;
    top: 13px;
    left: 50px;.
    font-weight: normal;
    font-size: 18px;
}
@media(max-width: 667px){
  body{
    background-image:none;
    background-color: black;
  }
  .cockpit{
    margin-bottom: 20px;
  }
  footer {
    width: 100%;
    position: relative;
    height: 80px;
  }
}